:root {
    font-size: 62.5%;
}

* {
    font-family: 'Cinzel', serif;
    border: .5px white solid;
    text-align: center;
    background-color: black;
    color: white;
    box-sizing: border-box;
    width: 100%;
    font-size: 3rem;
}

.btn:hover {
    cursor: pointer;
}

h1 {
    transform: scaleY(1.3);
    font-size: 5rem;
}

#start-btn {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
}

#scores-btn {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
}


/*


#start-btn,
#continue-btn {
    border: 0px;
    background-color: rgba(0, 0, 0, 0.0);
cursor: pointer;
}

#continue-btn {
    font-size: 20px;
    
}

.info-pg {
    display: none;
}*/

.instructions {
    color: rgb(255, 255, 255, 0.5);
}

#signature {
    padding-left: 400px;
    width: 100%;
}