:root {
    font-size: 62.5%;
}

* {
    font-family: 'Cinzel', serif;
    /* border: .5px white solid; */
    text-align: center;
    background-color: black;
    color: white;
    box-sizing: border-box;
    width: 100%;
    font-size: 3rem;
}

.btn:hover {
    cursor: pointer;
}

/* .btn[disabled]:hover {
    cursor: not-allowed;
} */

.choice:hover {
    cursor: pointer;
}

.info-pg,
.quiz-pg,
.save-pg,
.hs-pg {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*DOM Manipulation will reveal these pages to us*/
.info-pg.active,
.quiz-pg.active,
.save-pg.active,
.hs-pg.active {}

/*Home Page*/
.start-pg {
    /* display: none; */
}

/*TODO Add soft air bush under text for glowing look*/
h1 {
    transform: scaleY(1.3);
    font-size: 5rem;
}

#start-btn {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
}

#start-pg-scores-btn {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
}


/* Instructions Page */
.info-pg {
    display: none;
}

.instructions {
    color: rgb(255, 255, 255, 0.5);
}

#signature {
    padding-left: 400px;
    width: 100%;
}


/*Quiz Page*/

/*Quiz page's grid formatting*/
.quiz-pg {
    display: none;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: .2fr 2fr;
}

.timer {
    /* This makes the Timer element start at row 1, column 1 and have it span for 1 row and 1 column. */
    grid-area: 1 / 1 / span 1 / span 1;
}

.quiz-score {
    /* This makes the Timer element start at row 1, column 2 and have it span for 1 row and 1 column. */
    grid-area: 1 / 2 / span 1 / span 1;
}

.questions {
    grid-area: 2 / 1 / span 1 / span 2;
}

/* Save Score Page */
.save-pg {
    display: none;
}

.save-form {
    margin: 3rem 0 7rem 0;
}

/* High Score Page */
.hs-pg {
    display: none;
}

#hs-pg-quit-btn {
    border: 1px white solid;
}